Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

fix: store selected relationship data for scalar fields
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui/example-schemas/models/comment-with-postID/forms/PostUpdateForm.json
  packages/codegen-ui/example-schemas/models/custom-key-model/forms/ChildItemUpdateForm.json
Due: codegen-ui, codegen-ui-react

fix: store selected relationship data for scalar fields (#1077)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui/example-schemas/models/comment-with-postID/forms/PostUpdateForm.json
  packages/codegen-ui/example-schemas/models/custom-key-model/forms/ChildItemUpdateForm.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.15.4
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: wrap set state with array expression
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
Due: codegen-ui-react

fix: wrap set state with array expression (#1079)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
Due: codegen-ui-react

chore(release): v2.15.5
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.15.5 (#1080)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: conditionally set selected record state
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
Due: codegen-ui-react

fix: add fallback for non-required fields on submit
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-fields.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/parse-fields.ts
Due: codegen-ui-react

fix: collection components should not directly query for child collection data
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
Due: codegen-ui-react

fix: reorder state for badge text and field value
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
Due: codegen-ui-react

chore(release): v2.15.6
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: update inputs for linking and unlinking bidirectional relationships
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
Due: codegen-ui-react

fix: update inputs for linking and unlinking bidirectional relationships (#1085)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
Due: codegen-ui-react

fix: change model type to any if no graphql types
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
Due: codegen-ui-react

fix: change model type to any if no graphql types (#1086)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
Due: codegen-ui-react

chore(release): v2.15.7
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: remove null coalescing for graphql create forms
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-fields.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/parse-fields.ts
Due: codegen-ui-react

fix: remove null coalescing for graphql create forms (#1088)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-fields.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/parse-fields.ts
Due: codegen-ui-react

chore(release): v2.15.8
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore: update instructions to use git directly instead of github cli
  CONTRIBUTING.md
Due: none

fix: move graphql collection 'items' property access off of result variable
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
Due: codegen-ui-react

fix: use itemesPerPage for graphql collection query limit
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/amplify-ui-renderers/collection.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui/example-schemas/authorCollectionComponent.json
Due: codegen-ui, codegen-ui-react

fix: use itemesPerPage for graphql collection query limit (#1092)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/amplify-ui-renderers/collection.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui/example-schemas/authorCollectionComponent.json
Due: codegen-ui, codegen-ui-react

fix: add missing support for GraphQL collections without pagination
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/amplify-ui-renderers/collection.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
Due: codegen-ui-react

chore(release): v2.15.9
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.15.9 (#1094)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: exclude __typename metadata property when querying for form data
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/test-generator/integration-test-templates/cypress/scripts/generateCoverageSummary.mjs
Due: codegen-ui-react

chore: add dependencies to render config type
  packages/codegen-ui-react/lib/react-render-config.ts
Due: codegen-ui-react

Path conditions:
  codegen-ui: any of: packages/codegen-ui/
  codegen-ui-react: any of: packages/codegen-ui-react/
