Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

codecov.yaml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,files,footer'
  behavior: default
  require_changes: no

flags:
  codegen-ui:
    paths:
      - packages/codegen-ui/
  codegen-ui-react:
    paths:
      - packages/codegen-ui-react/

feat: adding graphql support for update forms with relationship (#1030)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui/example-schemas/datastore/relationships/has-many-comment.json
  packages/codegen-ui/example-schemas/datastore/relationships/many-to-many-class.json
  packages/codegen-ui/example-schemas/forms/relationships/update-class.json
  packages/codegen-ui/example-schemas/forms/relationships/update-comment.json
Due: codegen-ui, codegen-ui-react

feat: update GraphqlRenderConfig to use separate props for each file path
  packages/codegen-ui-react/lib/__tests__/__utils__/amplify-renderer-generator.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/react-render-config.ts
Due: codegen-ui-react

fix: autocomplete options prop using incorrect records (#1035)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

feat: add helpers to identify api dependencies
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui/example-schemas/bindings/data/componentWithDataStoreCreateActionBinding.json
  packages/codegen-ui/lib/__tests__/__utils__/load-schema.ts
  packages/codegen-ui/lib/__tests__/utils/data-binding-utils.test.ts
  packages/codegen-ui/lib/utils/data-binding-utils.ts
  packages/test-generator/lib/models/schema.ts
  scripts/integ-templates.sh
Due: codegen-ui, codegen-ui-react

fix: wrapping list graphql result for await (#1032)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

fix: use related model name instead of field in generating graphql qu… (#1039)
  .nycrc
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

feat: graphql support for collections (#1027)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/amplify-renderer.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/collection.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/helpers/index.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/views/react-view-renderer.ts
  packages/codegen-ui/lib/types/bindings.ts
Due: codegen-ui, codegen-ui-react

chore(release): v2.14.3
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.14.3 (#1045)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: remove type import if no graphql types file
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/type-helper.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

fix: remove type import if no graphql types file (#1040)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/type-helper.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

feat: add NoApi configuration and validation for data dependency
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__utils__/amplify-renderer-generator.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/react-render-config.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui/lib/errors/error-transformer.ts
  packages/codegen-ui/lib/errors/error-types.ts
Due: codegen-ui, codegen-ui-react

fix: plural items property in autocomplete data query
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

fix: plural items property in autocomplete data query (#1047)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

fix: remove input obj in graphql query
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

fix: change GraphQL unlink to use update action instead of delete
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

fix: change autocomplete data access property to related model name
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

fix: change autocomplete data access property to related model name (#1050)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

fix: fields with json type display 'null'
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
Due: codegen-ui-react

fix: fields with json type display 'null' (#1051)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
Due: codegen-ui-react

fix: bugfixes for GraphQL composite key querying and join table deletion
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui/example-schemas/forms/relationships/update-movie.json
  packages/codegen-ui/example-schemas/models/composite-key-movie.json
Due: codegen-ui, codegen-ui-react

fix: use primary key values to create join table records for GraphQL
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

feat: implement graphql querying for join tables
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

fix: remove indexes query from one to many parent update
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui/example-schemas/forms/post-graphql-create.json
  packages/codegen-ui/example-schemas/forms/post-graphql-update.json
Due: codegen-ui, codegen-ui-react

fix: remove indexes query from one to many parent update (#1054)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui/example-schemas/forms/post-graphql-create.json
  packages/codegen-ui/example-schemas/forms/post-graphql-update.json
Due: codegen-ui, codegen-ui-react

feat: handle parent relationship without belongsTo for GraphQL
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui/example-schemas/datastore/relationships/has-many-comment-no-belongsTo.json
  packages/codegen-ui/example-schemas/forms/relationships/update-comment-no-belongsTo.json
Due: codegen-ui, codegen-ui-react

fix: disable cypress video capture for github check workflow
  .github/workflows/check.yml
Due: none

chore: disable cypress video capture for github check workflow
  .github/workflows/check.yml
Due: none

chore: add upload cypress artifact to check workflow
  .github/workflows/check.yml
Due: none

fix: conditional statement ordering
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
Due: codegen-ui-react

chore: update upload cypress artifact steps
  .github/workflows/check.yml
Due: none

feat: handle parent relationship without belongsTo for GraphQL (#1055)
  .github/workflows/check.yml
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui/example-schemas/datastore/relationships/has-many-comment-no-belongsTo.json
  packages/codegen-ui/example-schemas/forms/relationships/update-comment-no-belongsTo.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.15.0
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react
