Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

codecov.yaml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,files,footer'
  behavior: default
  require_changes: no

flags:
  codegen-ui:
    paths:
      - packages/codegen-ui/
  codegen-ui-react:
    paths:
      - packages/codegen-ui-react/

chore: add dependencies to render config type (#1096)
  packages/codegen-ui-react/lib/react-render-config.ts
Due: codegen-ui-react

feat: amplify js v6 api support
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/helpers/index.test.ts
  packages/codegen-ui-react/lib/__tests__/react-studio-dependency-provider.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/collection.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/helpers/amplify-js-versioning.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer-helper.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/constants.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui-react/lib/workflow/action.ts
  packages/codegen-ui-react/package.json
  packages/codegen-ui/lib/required-dependency-provider.ts
Due: codegen-ui, codegen-ui-react

feat: amplify js v6 api support
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/helpers/index.test.ts
  packages/codegen-ui-react/lib/__tests__/react-studio-dependency-provider.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/collection.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/helpers/amplify-js-versioning.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer-helper.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/constants.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui-react/lib/workflow/action.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/lib/required-dependency-provider.ts
Due: codegen-ui, codegen-ui-react

feat: update dependency versioning helpers
  packages/codegen-ui-react/lib/__tests__/helpers/amplify-js-versioning.test.ts
  packages/codegen-ui-react/lib/__tests__/react-studio-dependency-provider.test.ts
  packages/codegen-ui-react/lib/helpers/amplify-js-versioning.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
  packages/codegen-ui-react/lib/utils/constants.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/lib/required-dependency-provider.ts
Due: codegen-ui, codegen-ui-react

feat: update dependency versioning helpers (#1099)
  packages/codegen-ui-react/lib/__tests__/helpers/amplify-js-versioning.test.ts
  packages/codegen-ui-react/lib/__tests__/react-studio-dependency-provider.test.ts
  packages/codegen-ui-react/lib/helpers/amplify-js-versioning.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
  packages/codegen-ui-react/lib/utils/constants.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/lib/required-dependency-provider.ts
Due: codegen-ui, codegen-ui-react

chore(release): v2.16.0
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.16.0 (#1100)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

feat: support amplify js v6 api changes
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/collection.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer-helper.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui-react/lib/workflow/action.ts
Due: codegen-ui-react

feat: support amplify js v6 api changes (#1101)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/collection.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer-helper.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui-react/lib/workflow/action.ts
Due: codegen-ui-react

fix: added more amplify js v6 unit tests fixed a bug
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

fix: added more amplify js v6 unit tests fixed a bug (#1102)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

chore(release): v2.17.0
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.17.0 (#1103)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

feat: add override and variant exports from ui-react to utils
  packages/codegen-ui-react/lib/__tests__/__snapshots__/react-studio-template-renderer-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-views.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/index.ts
  packages/codegen-ui-react/lib/overrides/__tests__/getOverrideProps.test.tsx
  packages/codegen-ui-react/lib/overrides/__tests__/getOverridesFromVariants.test.tsx
  packages/codegen-ui-react/lib/overrides/__tests__/mergeVariantsAndOverrides.test.tsx
  packages/codegen-ui-react/lib/overrides/findChildOverrides.ts
  packages/codegen-ui-react/lib/overrides/getOverrideProps.ts
  packages/codegen-ui-react/lib/overrides/getOverridesFromVariants.ts
  packages/codegen-ui-react/lib/overrides/index.ts
  packages/codegen-ui-react/lib/overrides/mergeVariantsAndOverrides.ts
  packages/codegen-ui-react/lib/overrides/types.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
Due: codegen-ui-react

feat: add override and variant exports from ui-react to utils (#1104)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/react-studio-template-renderer-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-views.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/index.ts
  packages/codegen-ui-react/lib/overrides/__tests__/getOverrideProps.test.tsx
  packages/codegen-ui-react/lib/overrides/__tests__/getOverridesFromVariants.test.tsx
  packages/codegen-ui-react/lib/overrides/__tests__/mergeVariantsAndOverrides.test.tsx
  packages/codegen-ui-react/lib/overrides/findChildOverrides.ts
  packages/codegen-ui-react/lib/overrides/getOverrideProps.ts
  packages/codegen-ui-react/lib/overrides/getOverridesFromVariants.ts
  packages/codegen-ui-react/lib/overrides/index.ts
  packages/codegen-ui-react/lib/overrides/mergeVariantsAndOverrides.ts
  packages/codegen-ui-react/lib/overrides/types.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
Due: codegen-ui-react

feat: add navigation and state mutation actions
  packages/codegen-ui-react/lib/__tests__/__snapshots__/react-studio-template-renderer-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-views.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/hooks/useNavigateAction.test.tsx
  packages/codegen-ui-react/lib/__tests__/hooks/useStateMutationAction.test.tsx
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/index.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils-file-functions/amplify-symbol.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useNavigateAction.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useStateMutationAction.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/constants.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useNavigateAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useStateMutationAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/index.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/test-generator/lib/generators/TestGenerator.ts
Due: codegen-ui-react

feat: add navigation and state mutation actions (#1105)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/react-studio-template-renderer-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-views.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/hooks/useNavigateAction.test.tsx
  packages/codegen-ui-react/lib/__tests__/hooks/useStateMutationAction.test.tsx
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/index.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils-file-functions/amplify-symbol.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useNavigateAction.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useStateMutationAction.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/constants.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useNavigateAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useStateMutationAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/index.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/test-generator/lib/generators/TestGenerator.ts
Due: codegen-ui-react

feat: refactor override and utils to strings
  packages/codegen-ui-react/lib/__tests__/__snapshots__/react-studio-template-renderer-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-views.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/overrides/getOverrideProps.test.ts
  packages/codegen-ui-react/lib/__tests__/overrides/getOverridesFromVariants.test.ts
  packages/codegen-ui-react/lib/__tests__/overrides/mergeVariantsAndOverrides.test.ts
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/overrides/findChildOverrides.ts
  packages/codegen-ui-react/lib/overrides/getOverrideProps.ts
  packages/codegen-ui-react/lib/overrides/getOverridesFromVariants.ts
  packages/codegen-ui-react/lib/overrides/mergeVariantsAndOverrides.ts
  packages/codegen-ui-react/lib/overrides/types.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils-file-functions/json-path-fetch.ts
  packages/codegen-ui-react/lib/utils-file-functions/overrides/__tests__/getOverrideProps.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/overrides/__tests__/getOverridesFromVariants.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/overrides/__tests__/mergeVariantsAndOverrides.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/overrides/findChildOverrides.ts
  packages/codegen-ui-react/lib/utils-file-functions/overrides/getOverrideProps.ts
  packages/codegen-ui-react/lib/utils-file-functions/overrides/getOverridesFromVariants.ts
  packages/codegen-ui-react/lib/utils-file-functions/overrides/index.ts
  packages/codegen-ui-react/lib/utils-file-functions/overrides/mergeVariantsAndOverrides.ts
  packages/codegen-ui-react/lib/utils-file-functions/overrides/override-types.ts
  packages/codegen-ui-react/lib/utils-file-functions/storage-manager.ts
  packages/codegen-ui-react/lib/utils-file-functions/string-formatter.ts
  packages/codegen-ui-react/lib/utils-file-functions/utils.ts
  packages/codegen-ui-react/lib/utils-file-functions/validation.ts
  packages/codegen-ui-react/lib/views/react-view-renderer.ts
  packages/codegen-ui-react/package.json
Due: codegen-ui-react

feat: refactor override and utils to strings (#1106)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/react-studio-template-renderer-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-views.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/overrides/getOverrideProps.test.ts
  packages/codegen-ui-react/lib/__tests__/overrides/getOverridesFromVariants.test.ts
  packages/codegen-ui-react/lib/__tests__/overrides/mergeVariantsAndOverrides.test.ts
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/overrides/findChildOverrides.ts
  packages/codegen-ui-react/lib/overrides/getOverrideProps.ts
  packages/codegen-ui-react/lib/overrides/getOverridesFromVariants.ts
  packages/codegen-ui-react/lib/overrides/mergeVariantsAndOverrides.ts
  packages/codegen-ui-react/lib/overrides/types.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils-file-functions/json-path-fetch.ts
  packages/codegen-ui-react/lib/utils-file-functions/overrides/__tests__/getOverrideProps.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/overrides/__tests__/getOverridesFromVariants.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/overrides/__tests__/mergeVariantsAndOverrides.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/overrides/findChildOverrides.ts
  packages/codegen-ui-react/lib/utils-file-functions/overrides/getOverrideProps.ts
  packages/codegen-ui-react/lib/utils-file-functions/overrides/getOverridesFromVariants.ts
  packages/codegen-ui-react/lib/utils-file-functions/overrides/index.ts
  packages/codegen-ui-react/lib/utils-file-functions/overrides/mergeVariantsAndOverrides.ts
  packages/codegen-ui-react/lib/utils-file-functions/overrides/override-types.ts
  packages/codegen-ui-react/lib/utils-file-functions/storage-manager.ts
  packages/codegen-ui-react/lib/utils-file-functions/string-formatter.ts
  packages/codegen-ui-react/lib/utils-file-functions/utils.ts
  packages/codegen-ui-react/lib/utils-file-functions/validation.ts
  packages/codegen-ui-react/lib/views/react-view-renderer.ts
  packages/codegen-ui-react/package.json
Due: codegen-ui-react

Codegen - Meridian Design System
  package-lock.json
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/amplify-meridian-renderer.ts
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/helpers/index.ts
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/meridian-component-renderers/alert.ts
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/meridian-component-renderers/breadcrumb.ts
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/meridian-component-renderers/button.ts
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/meridian-component-renderers/datePicker.ts
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/meridian-component-renderers/index.ts
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/meridian-component-renderers/masthead.ts
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/meridian-component-renderers/row-column.ts
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/meridian-component-renderers/searchField.ts
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/meridian-component-renderers/select.ts
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/meridian-component-renderers/sidemenu.ts
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/meridian-component-renderers/tag.ts
  packages/codegen-ui-react/lib/amplify-meridian-ui-renderers/meridian-component-renderers/text.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/index.ts
  packages/codegen-ui-react/lib/primitive.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui/lib/types/components.ts
  packages/test-generator/package-lock.json
  packages/test-generator/src/components/SmartHubFrame.jsx
  packages/test-generator/testScript.js
  packages/test-generator/testScript.ts
Due: codegen-ui, codegen-ui-react

feat: export get declaration filename helper
  packages/codegen-ui-react/lib/index.ts
Due: codegen-ui-react

feat: export get declaration filename helper (#1109)
  packages/codegen-ui-react/lib/index.ts
Due: codegen-ui-react

feat: migrate auth and datastore hooks
  .eslintrc.js
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-views.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/hooks/useNavigateAction.test.tsx
  packages/codegen-ui-react/lib/__tests__/hooks/useStateMutationAction.test.tsx
  packages/codegen-ui-react/lib/__tests__/overrides/getOverrideProps.test.ts
  packages/codegen-ui-react/lib/__tests__/overrides/getOverridesFromVariants.test.ts
  packages/codegen-ui-react/lib/__tests__/overrides/mergeVariantsAndOverrides.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-views.test.ts
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils-file-functions/get-error-message.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/createDataStorePredicate.test.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/test-models/models.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/test-models/schema.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useAuthSignoutAction.test.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useDataStore.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useDataStoreDeleteAction.test.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useDataStoreUpdateAction.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useTypeCastFields.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/createDataStorePredicate.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/datastore-action-types.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/index.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useAuthSignoutAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreBinding.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreCreateAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreDeleteAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreUpdateAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useTypeCastFields.ts
  packages/codegen-ui-react/lib/utils-file-functions/json-path-fetch.ts
  packages/codegen-ui-react/lib/utils-file-functions/storage-manager.ts
  packages/codegen-ui-react/lib/utils-file-functions/validation.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/test-generator/integration-test-templates/src/ActionBindingTests.tsx
  packages/test-generator/integration-test-templates/src/ViewTests.tsx
  packages/test-generator/integration-test-templates/src/WorkflowTests.tsx
Due: codegen-ui-react

feat: migrate auth and datastore hooks (#1107)
  .eslintrc.js
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-views.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/hooks/useNavigateAction.test.tsx
  packages/codegen-ui-react/lib/__tests__/hooks/useStateMutationAction.test.tsx
  packages/codegen-ui-react/lib/__tests__/overrides/getOverrideProps.test.ts
  packages/codegen-ui-react/lib/__tests__/overrides/getOverridesFromVariants.test.ts
  packages/codegen-ui-react/lib/__tests__/overrides/mergeVariantsAndOverrides.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-views.test.ts
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils-file-functions/get-error-message.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/createDataStorePredicate.test.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/test-models/models.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/test-models/schema.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useAuthSignoutAction.test.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useDataStore.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useDataStoreDeleteAction.test.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useDataStoreUpdateAction.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useTypeCastFields.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/createDataStorePredicate.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/datastore-action-types.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/index.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useAuthSignoutAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreBinding.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreCreateAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreDeleteAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreUpdateAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useTypeCastFields.ts
  packages/codegen-ui-react/lib/utils-file-functions/json-path-fetch.ts
  packages/codegen-ui-react/lib/utils-file-functions/storage-manager.ts
  packages/codegen-ui-react/lib/utils-file-functions/validation.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/test-generator/integration-test-templates/src/ActionBindingTests.tsx
  packages/test-generator/integration-test-templates/src/ViewTests.tsx
  packages/test-generator/integration-test-templates/src/WorkflowTests.tsx
Due: codegen-ui-react

feat: add dependencies to props for cms renderer
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__utils__/amplify-renderer-generator.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/build-cms-module-props.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/utils/forms/array-field-component.ts
Due: codegen-ui-react

chore(release): v2.18.0
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.18.0 (#1111)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: add use client directive option to form renderer
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/react-render-config.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer-helper.ts
Due: codegen-ui-react

fix: resolve merge conflict
  packages/codegen-ui-react/lib/react-render-config.ts
Due: codegen-ui-react

fix: move aws-amplify to deps
  packages/codegen-ui-react/package.json
Due: codegen-ui-react

fix: move aws-amplify to deps (#1113)
  packages/codegen-ui-react/package.json
Due: codegen-ui-react

fix: move datastore to dependency
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useAuthSignoutAction.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
Due: codegen-ui-react

fix: move datastore to dependency (#1115)
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useAuthSignoutAction.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
Due: codegen-ui-react

chore(release): v2.19.0
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.19.0 (#1114)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore: update commitlint config to allow deps-dev for dependabot updates
  commitlint.config.js
Due: none

chore(release): v2.19.1
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: remove aws-amplify dependency
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/createDataStorePredicate.test.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/test-models/models.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/test-models/schema.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useAuthSignoutAction.test.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useDataStore.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useDataStoreDeleteAction.test.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useDataStoreUpdateAction.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useNavigateAction.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useStateMutationAction.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useTypeCastFields.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/createDataStorePredicate.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/datastore-action-types.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useAuthSignoutAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreBinding.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreCreateAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreDeleteAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreUpdateAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useNavigateAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useStateMutationAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useTypeCastFields.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
Due: codegen-ui-react

fix: join table related model name using incorrect casing in reduce callback
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

fix: remove aws-amplify dependency (#1123)
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/createDataStorePredicate.test.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/test-models/models.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/test-models/schema.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useAuthSignoutAction.test.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useDataStore.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useDataStoreDeleteAction.test.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useDataStoreUpdateAction.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useNavigateAction.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useStateMutationAction.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/__tests__/useTypeCastFields.test.tsx
  packages/codegen-ui-react/lib/utils-file-functions/hooks/createDataStorePredicate.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/datastore-action-types.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useAuthSignoutAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreBinding.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreCreateAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreDeleteAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useDataStoreUpdateAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useNavigateAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useStateMutationAction.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useTypeCastFields.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
Due: codegen-ui-react
