Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

fix: clear button on create form should reset select field
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomDog-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/CustomDog.tsx
  packages/test-generator/lib/forms/custom-form-create-dog.json
Due: codegen-ui-react

fix: update form tests
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
Due: none

fix: clear button on create form should reset select field (#939)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomDog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/CustomDog.tsx
  packages/test-generator/lib/forms/custom-form-create-dog.json
Due: codegen-ui-react

feat: add optional or required decorator on form labels
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/index.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/label-decorator.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui/example-schemas/forms/custom-with-array-field.json
  packages/codegen-ui/example-schemas/forms/input-gallery-create.json
  packages/codegen-ui/lib/__tests__/__utils__/basic-form-definition.ts
  packages/codegen-ui/lib/__tests__/utils/form-component-metadata.test.ts
  packages/codegen-ui/lib/generate-form-definition/generate-form-definition.ts
  packages/codegen-ui/lib/types/form/fields.ts
  packages/codegen-ui/lib/types/form/form-definition.ts
  packages/codegen-ui/lib/types/form/form-metadata.ts
  packages/codegen-ui/lib/types/form/index.ts
  packages/codegen-ui/lib/types/form/style.ts
  packages/codegen-ui/lib/utils/form-component-metadata.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomDog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomNestedJSON-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/utils/form.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSBidirectionalToy.tsx
  packages/test-generator/lib/forms/custom-form-create-dog.json
  packages/test-generator/lib/forms/custom-form-nested-json-create.json
  packages/test-generator/lib/forms/datastore-form-create-all-supported-form-fields.json
Due: codegen-ui, codegen-ui-react

feat: add optional or required decorator on form labels (#936)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/index.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/label-decorator.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui/example-schemas/forms/custom-with-array-field.json
  packages/codegen-ui/example-schemas/forms/input-gallery-create.json
  packages/codegen-ui/lib/__tests__/__utils__/basic-form-definition.ts
  packages/codegen-ui/lib/__tests__/utils/form-component-metadata.test.ts
  packages/codegen-ui/lib/generate-form-definition/generate-form-definition.ts
  packages/codegen-ui/lib/types/form/fields.ts
  packages/codegen-ui/lib/types/form/form-definition.ts
  packages/codegen-ui/lib/types/form/form-metadata.ts
  packages/codegen-ui/lib/types/form/index.ts
  packages/codegen-ui/lib/types/form/style.ts
  packages/codegen-ui/lib/utils/form-component-metadata.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomDog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomNestedJSON-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/utils/form.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSBidirectionalToy.tsx
  packages/test-generator/lib/forms/custom-form-create-dog.json
  packages/test-generator/lib/forms/custom-form-nested-json-create.json
  packages/test-generator/lib/forms/datastore-form-create-all-supported-form-fields.json
Due: codegen-ui, codegen-ui-react

chore: testser
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
Due: codegen-ui-react

chore: test
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
Due: codegen-ui-react

test: fix bidirectional 1:m test
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalToy-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSBidirectionalToy.tsx
Due: none

chore: testing
  .gitignore
  .nycrc
  package-lock.json
  package.json
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui/package-lock.json
  packages/test-generator/integration-test-templates/cypress/scripts/generateCoverageSummary.mjs
  packages/test-generator/integration-test-templates/cypress/support/e2e.js
  packages/test-generator/package-lock.json
  scripts/integ-setup.sh
Due: codegen-ui, codegen-ui-react

chore: testing integ test coverage script
  .github/workflows/check.yml
  .gitignore
  .nycrc
  package-lock.json
  package.json
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui/package-lock.json
  packages/test-generator/integration-test-templates/cypress/scripts/generateCoverageSummary.mjs
  packages/test-generator/integration-test-templates/cypress/support/e2e.js
  packages/test-generator/package-lock.json
  scripts/integ-setup.sh
Due: codegen-ui, codegen-ui-react

fix: github action script
  .github/workflows/check.yml
Due: none

chore: adding script to collect integ test coverage
  .github/workflows/check.yml
  .gitignore
  .nycrc
  package-lock.json
  package.json
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui/package-lock.json
  packages/test-generator/integration-test-templates/cypress/scripts/generateCoverageSummary.mjs
  packages/test-generator/integration-test-templates/cypress/support/e2e.js
  packages/test-generator/package-lock.json
  scripts/integ-setup.sh
Due: codegen-ui, codegen-ui-react

fix: addressing ERR_IMPORT_ASSERTION_TYPE_MISSING
  packages/test-generator/integration-test-templates/cypress/scripts/generateCoverageSummary.mjs
Due: none

chore: removing comments
  packages/test-generator/integration-test-templates/cypress.config.ts
Due: none

feat: allow selectField or autoCompleteField to be used for String fields
  packages/codegen-ui/lib/generate-form-definition/helpers/field-type-map.ts
Due: codegen-ui

feat: allow selectField or autoCompleteField to be used for String fields (#941)
  packages/codegen-ui/lib/generate-form-definition/helpers/field-type-map.ts
Due: codegen-ui

chore: adding script to collect integ test coverage (#946)
  .github/workflows/check.yml
  .gitignore
  .nycrc
  package-lock.json
  package.json
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui/package-lock.json
  packages/test-generator/integration-test-templates/cypress/scripts/generateCoverageSummary.mjs
  packages/test-generator/integration-test-templates/cypress/support/e2e.js
  packages/test-generator/package-lock.json
  scripts/integ-setup.sh
Due: codegen-ui, codegen-ui-react

feat: support between predicates
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui/example-schemas/collectionWithBinding.json
  packages/codegen-ui/lib/__tests__/renderer-helper.test.ts
  packages/codegen-ui/lib/renderer-helper.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generated-components-spec.cy.ts
  packages/test-generator/integration-test-templates/src/ComponentTests.tsx
  packages/test-generator/lib/components/collections/collectionWithBetweenPredicate.json
  packages/test-generator/lib/components/collections/index.ts
Due: codegen-ui, codegen-ui-react

fix: nested json array text field doesn't update
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/value-props.ts
  packages/codegen-ui/example-schemas/forms/nested-json-create.json
  packages/codegen-ui/example-schemas/forms/nested-json-update.json
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomNestedJSON-spec.cy.ts
Due: codegen-ui, codegen-ui-react

fix: nested json array text field doesn't update (#948)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/value-props.ts
  packages/codegen-ui/example-schemas/forms/nested-json-create.json
  packages/codegen-ui/example-schemas/forms/nested-json-update.json
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomNestedJSON-spec.cy.ts
Due: codegen-ui, codegen-ui-react

chore(release): v2.10.0
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.10.0 (#949)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

feat: support between predicates (#947)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui/example-schemas/collectionWithBinding.json
  packages/codegen-ui/lib/__tests__/renderer-helper.test.ts
  packages/codegen-ui/lib/renderer-helper.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generated-components-spec.cy.ts
  packages/test-generator/integration-test-templates/src/ComponentTests.tsx
  packages/test-generator/lib/components/collections/collectionWithBetweenPredicate.json
  packages/test-generator/lib/components/collections/index.ts
Due: codegen-ui, codegen-ui-react

fix: renames model variable name from props for update forms
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/all-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/helpers/index.ts
  packages/codegen-ui/lib/types/form/form-definition.ts
  packages/codegen-ui/lib/types/form/form-metadata.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/ModelWithVariableCollisions-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSModelWithVariableCollisions.tsx
  packages/test-generator/integration-test-templates/src/FormTests/index.tsx
  packages/test-generator/integration-test-templates/src/models/index.d.ts
  packages/test-generator/integration-test-templates/src/models/index.js
  packages/test-generator/integration-test-templates/src/models/schema.js
  packages/test-generator/lib/forms/datastore-form-update-model-with-variable-collisions.json
  packages/test-generator/lib/forms/index.ts
  packages/test-generator/lib/models/schema.graphql
  packages/test-generator/lib/models/schema.ts
Due: codegen-ui, codegen-ui-react

fix: renames model variable name from props for update forms (#950)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/all-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/helpers/index.ts
  packages/codegen-ui/lib/types/form/form-definition.ts
  packages/codegen-ui/lib/types/form/form-metadata.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/ModelWithVariableCollisions-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSModelWithVariableCollisions.tsx
  packages/test-generator/integration-test-templates/src/FormTests/index.tsx
  packages/test-generator/integration-test-templates/src/models/index.d.ts
  packages/test-generator/integration-test-templates/src/models/index.js
  packages/test-generator/integration-test-templates/src/models/schema.js
  packages/test-generator/lib/forms/datastore-form-update-model-with-variable-collisions.json
  packages/test-generator/lib/forms/index.ts
  packages/test-generator/lib/models/schema.graphql
  packages/test-generator/lib/models/schema.ts
Due: codegen-ui, codegen-ui-react

chore(release): v2.11.0
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.11.0 (#951)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore: improve pill labels for scalar relationships
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-checkers.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/value-props.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui/lib/__tests__/generate-form-definition/helpers/model-fields-configs.test.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/model-fields-configs.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFieldsScalar-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSAllSupportedFormFieldsScalar.tsx
  packages/test-generator/integration-test-templates/src/FormTests/index.tsx
  packages/test-generator/lib/forms/datastore-form-create-all-supported-form-fields-scalar.json
  packages/test-generator/lib/forms/index.ts
Due: codegen-ui, codegen-ui-react

chore: update snapshots
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
Due: codegen-ui-react

chore: handle bidirectional 1:m with field defined on parent
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui/example-schemas/datastore/car.json
  packages/codegen-ui/example-schemas/forms/car-datastore-update.json
  packages/codegen-ui/lib/__tests__/__utils__/mock-schemas.ts
  packages/codegen-ui/lib/__tests__/generic-from-datastore.test.ts
  packages/codegen-ui/lib/generic-from-datastore.ts
Due: codegen-ui, codegen-ui-react

test: add tests for bidirectional 1:m with field defined on parent
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui/example-schemas/forms/dealership-datastore-update.json
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCar-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSDealership-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSCar.tsx
  packages/test-generator/integration-test-templates/src/FormTests/DSDealership.tsx
  packages/test-generator/integration-test-templates/src/FormTests/index.tsx
  packages/test-generator/integration-test-templates/src/models/index.d.ts
  packages/test-generator/integration-test-templates/src/models/index.js
  packages/test-generator/integration-test-templates/src/models/schema.js
  packages/test-generator/lib/forms/datastore-form-update-car.json
  packages/test-generator/lib/forms/datastore-form-update-dealership.json
  packages/test-generator/lib/forms/index.ts
  packages/test-generator/lib/models/schema.graphql
  packages/test-generator/lib/models/schema.ts
Due: codegen-ui, codegen-ui-react

chore: fix getBadgeText, setFieldValue, and onSelect
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
  packages/codegen-ui/lib/__tests__/generate-form-definition/helpers/model-fields-configs.test.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/model-fields-configs.ts
Due: codegen-ui, codegen-ui-react

chore: do not generate getIDValue for scalar fields
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-checkers.ts
Due: codegen-ui-react

chore: stop throwing for unhandled relationship indexes
  packages/codegen-ui/lib/__tests__/generate-form-definition/helpers/model-fields-configs.test.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/model-fields-configs.ts
Due: codegen-ui

chore: update cypress get to contains for DS tests
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCar-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSDealership-spec.cy.ts
Due: none

chore: update cypress get to contains for DS tests (#958)
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCar-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSDealership-spec.cy.ts
Due: none

Path conditions:
  codegen-ui: any of: packages/codegen-ui/
  codegen-ui-react: any of: packages/codegen-ui-react/
