Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

chore: adding random func
  packages/codegen-ui-react/lib/helpers/index.ts
Due: codegen-ui-react

chore: combine tests, update values for nonModelField and nonModelFieldArray
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSAllSupportedFormFields.tsx
Due: none

chore: add value deletion tests for all fields
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSAllSupportedFormFields.tsx
Due: none

chore: add additional test for non model string array
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
Due: none

chore: remove wait, and add specificity to string array test
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
Due: none

chore: change syntax to use siblings()
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
Due: none

chore: add update tests for AllSupportedFormFields (#921)
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSAllSupportedFormFields.tsx
Due: none

chore: remove cy.wait
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
Due: none

chore: add false labelHidden prop to autocomplete
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/all-props.ts
  packages/codegen-ui/example-schemas/forms/custom-with-array-field.json
Due: codegen-ui, codegen-ui-react

chore: add deletion tests for AllSupportedFormFields (#923)
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
Due: none

chore: add false labelHidden prop to autocomplete (#919)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/all-props.ts
  packages/codegen-ui/example-schemas/forms/custom-with-array-field.json
Due: codegen-ui, codegen-ui-react

fix: improve join table identification
  packages/codegen-ui/lib/__tests__/__utils__/mock-schemas.ts
  packages/codegen-ui/lib/__tests__/generic-from-datastore.test.ts
  packages/codegen-ui/lib/generic-from-datastore.ts
Due: codegen-ui

chore: add fixed valueMappings for Autocomplete field
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/all-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui/example-schemas/forms/custom-with-array-field.json
  packages/codegen-ui/example-schemas/forms/flex-datastore-update.json
  packages/codegen-ui/lib/types/form/index.ts
  packages/codegen-ui/lib/utils/form-component-metadata.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomDog-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/CustomDog.tsx
  packages/test-generator/lib/forms/custom-form-create-dog.json
Due: codegen-ui, codegen-ui-react

chore: add fixed valueMappings for Autocomplete field (#915)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/all-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui/example-schemas/forms/custom-with-array-field.json
  packages/codegen-ui/example-schemas/forms/flex-datastore-update.json
  packages/codegen-ui/lib/types/form/index.ts
  packages/codegen-ui/lib/utils/form-component-metadata.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomDog-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/CustomDog.tsx
  packages/test-generator/lib/forms/custom-form-create-dog.json
Due: codegen-ui, codegen-ui-react

chore: add new PR template
  pull_request_template.md
Due: none

chore: support scalar relationship fields
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui/example-schemas/forms/composite-dog-datastore-update-scalar.json
  packages/codegen-ui/lib/__tests__/generate-form-definition/helpers/model-fields-configs.test.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/form-field.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/model-fields-configs.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCompositeDog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSCompositeDog.tsx
  packages/test-generator/lib/forms/datastore-form-update-composite-dog-scalar.json
  packages/test-generator/lib/forms/index.ts
Due: codegen-ui, codegen-ui-react

chore: expand types to include introspection schema
  package-lock.json
  packages/codegen-ui-react/lib/__tests__/__utils__/amplify-renderer-generator.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/lib/__tests__/__utils__/mock-schemas.ts
  packages/codegen-ui/lib/__tests__/generic-from-datastore.test.ts
  packages/codegen-ui/lib/generic-from-datastore.ts
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
Due: codegen-ui, codegen-ui-react

feat: init composite key property on update form
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-forms/__snapshots__/form-renderer-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-forms/form-renderer-helper.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/all-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/type-helper.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/typescript-type-map.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/utils/constants.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCompositeDog-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSCompositeDog.tsx
Due: codegen-ui-react

chore(release): v2.9.0
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore: add bidirectional integration test - throw on update
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalOwner-Dog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSBidirectionalOwnerDog.tsx
  packages/test-generator/integration-test-templates/src/FormTests/index.tsx
  packages/test-generator/integration-test-templates/src/models/index.d.ts
  packages/test-generator/integration-test-templates/src/models/index.js
  packages/test-generator/integration-test-templates/src/models/schema.js
  packages/test-generator/lib/forms/datastore-form-create-bidirectional-owner.json
  packages/test-generator/lib/forms/datastore-form-update-bidirectional-dog.json
  packages/test-generator/lib/forms/datastore-form-update-bidirectional-owner.json
  packages/test-generator/lib/forms/index.ts
  packages/test-generator/lib/models/schema.graphql
  packages/test-generator/lib/models/schema.ts
Due: none

chore: add bidirectional integration test - throw on update (#929)
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalOwner-Dog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSBidirectionalOwnerDog.tsx
  packages/test-generator/integration-test-templates/src/FormTests/index.tsx
  packages/test-generator/integration-test-templates/src/models/index.d.ts
  packages/test-generator/integration-test-templates/src/models/index.js
  packages/test-generator/integration-test-templates/src/models/schema.js
  packages/test-generator/lib/forms/datastore-form-create-bidirectional-owner.json
  packages/test-generator/lib/forms/datastore-form-update-bidirectional-dog.json
  packages/test-generator/lib/forms/datastore-form-update-bidirectional-owner.json
  packages/test-generator/lib/forms/index.ts
  packages/test-generator/lib/models/schema.graphql
  packages/test-generator/lib/models/schema.ts
Due: none

feat: init composite key property on update form (#928)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-forms/__snapshots__/form-renderer-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-forms/form-renderer-helper.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/all-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/type-helper.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/typescript-type-map.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/utils/constants.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCompositeDog-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSCompositeDog.tsx
Due: codegen-ui-react

chore: bidirectional has many test
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalOwner-Dog-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSBidirectionalOwnerDog.tsx
Due: none

chore: bidirectional has many test (#931)
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalOwner-Dog-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSBidirectionalOwnerDog.tsx
Due: none

fix: make operandType more generic
  packages/codegen-ui/lib/types/bindings.ts
Due: codegen-ui

fix: make operandType more generic (#933)
  packages/codegen-ui/lib/types/bindings.ts
Due: codegen-ui

chore: add bidirectional integration tests
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalDog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalOwner-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSBidirectionalDog.tsx
  packages/test-generator/integration-test-templates/src/FormTests/DSBidirectionalOwner.tsx
  packages/test-generator/integration-test-templates/src/FormTests/index.tsx
  packages/test-generator/integration-test-templates/src/models/index.d.ts
  packages/test-generator/integration-test-templates/src/models/schema.js
  packages/test-generator/lib/models/schema.graphql
  packages/test-generator/lib/models/schema.ts
Due: none

chore: add bidirectional integration tests (#932)
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalDog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalOwner-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSBidirectionalDog.tsx
  packages/test-generator/integration-test-templates/src/FormTests/DSBidirectionalOwner.tsx
  packages/test-generator/integration-test-templates/src/FormTests/index.tsx
  packages/test-generator/integration-test-templates/src/models/index.d.ts
  packages/test-generator/integration-test-templates/src/models/schema.js
  packages/test-generator/lib/models/schema.graphql
  packages/test-generator/lib/models/schema.ts
Due: none

chore: add bi directional test
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalToy-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSBidirectionalToy.tsx
  packages/test-generator/integration-test-templates/src/FormTests/index.tsx
  packages/test-generator/lib/forms/datastore-form-create-bidirectional-dog.json
  packages/test-generator/lib/forms/index.ts
Due: none

chore: add bi directional test (#935)
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalToy-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSBidirectionalToy.tsx
  packages/test-generator/integration-test-templates/src/FormTests/index.tsx
  packages/test-generator/lib/forms/datastore-form-create-bidirectional-dog.json
  packages/test-generator/lib/forms/index.ts
Due: none

fix: reset form button on create form resets value correctly
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
Due: codegen-ui-react

fix: reset form button on create form resets value correctly
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomDog-spec.cy.ts
  packages/test-generator/lib/forms/custom-form-create-dog.json
Due: none

fix: update custom dog form
  packages/test-generator/integration-test-templates/src/FormTests/CustomDog.tsx
  packages/test-generator/lib/forms/custom-form-create-dog.json
Due: none

fix: update form tests
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomDog-spec.cy.ts
  packages/test-generator/lib/forms/custom-form-create-dog.json
Due: none

Path conditions:
  codegen-ui: any of: packages/codegen-ui/
  codegen-ui-react: any of: packages/codegen-ui-react/
