Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

codecov.yaml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,files,footer'
  behavior: default
  require_changes: no

flags:
  codegen-ui:
    paths:
      - packages/codegen-ui/
  codegen-ui-react:
    paths:
      - packages/codegen-ui-react/

fix(codegen-ui-react): prevent useless props forward to custom components
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui/example-schemas/collectionWithBindingWithoutPredicate.json
  packages/codegen-ui/example-schemas/complexTest3.json
  packages/codegen-ui/example-schemas/customChild.json
  packages/codegen-ui/example-schemas/customChildMalformedProperty.json
  packages/codegen-ui/example-schemas/parsedFixedValues.json
  packages/codegen-ui/example-schemas/sampleCodeSnippet.json
Due: codegen-ui, codegen-ui-react

feat: add graphql support for create form (#1008)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/amplify-form-renderer.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/index.ts
  packages/codegen-ui-react/lib/forms/index.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
Due: codegen-ui-react

feat: add graphql support for create form with relationships
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
Due: codegen-ui-react

feat: add graphql support for create form with relationships (#1010)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
Due: codegen-ui-react

chore: add integ tests for storage field
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSUserProfile-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/fixtures/amplify-logo.jpg
  packages/test-generator/integration-test-templates/cypress/fixtures/amplify-logo.svg
  packages/test-generator/integration-test-templates/cypress/utils/form.ts
  packages/test-generator/integration-test-templates/src/App.tsx
  packages/test-generator/integration-test-templates/src/FormTests/DSUserProfile.tsx
  packages/test-generator/integration-test-templates/src/FormTests/index.tsx
  packages/test-generator/integration-test-templates/src/mock-utils.ts
  packages/test-generator/integration-test-templates/src/models/index.d.ts
  packages/test-generator/integration-test-templates/src/models/index.js
  packages/test-generator/integration-test-templates/src/models/schema.js
  packages/test-generator/lib/forms/datastore-form-create-user-profile.json
  packages/test-generator/lib/forms/datastore-form-update-user-profile.json
  packages/test-generator/lib/forms/index.ts
  packages/test-generator/lib/models/schema.ts
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
  scripts/integ-setup.bat
  scripts/integ-setup.sh
Due: none

chore: update graphql api import
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/imports/import-mapping.ts
Due: codegen-ui-react

chore: fix lint
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSUserProfile-spec.cy.ts
Due: none

chore: refactor graphql call expressions to common function
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui-react/lib/workflow/action.ts
Due: codegen-ui-react

chore: use pluralize for graphql list queries
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
Due: codegen-ui-react

fix: parse operand value when field is number type
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__utils__/mock-data-schemas.ts
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui/example-schemas/collectionWithBindingItemsName.json
Due: codegen-ui, codegen-ui-react

Update GraphQL API import and refactor GraphQL call expressions (#1012)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui-react/lib/workflow/action.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
Due: codegen-ui-react

fix: parse operand value when field is number type (#1013)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__utils__/mock-data-schemas.ts
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui/example-schemas/collectionWithBindingItemsName.json
Due: codegen-ui, codegen-ui-react

fix: update cypress selectors
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSUserProfile-spec.cy.ts
Due: none

chore(release): v2.14.0
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.14.0 (#1014)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

feat: add graphql support for update form
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

fix: update snapshot
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
Due: codegen-ui-react

feat: add more assertions to check for graphql support
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
Due: codegen-ui-react

fix: removing obselete snapshot
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
Due: codegen-ui-react

fix: force update mutation to use id var
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

fix: fix storage field prop import to storagemanager
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/type-helper.ts
Due: codegen-ui-react

fix: fix storage field prop import to storagemanager (#1016)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/type-helper.ts
Due: codegen-ui-react

chore(release): v2.14.1
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.14.1 (#1017)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

feat: add graphql support for update form (#1015)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

chore: add declaration snapshots
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
Due: codegen-ui-react

chore: add declaration snapshots (#1018)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
Due: codegen-ui-react

fix: alias colliding imported model name in hasMany relationship
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui/example-schemas/datastore/school-student-collision.json
Due: codegen-ui, codegen-ui-react

fix: add getOverrideProps to StorageManager
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
Due: codegen-ui-react

fix: add overrideProps to Field component
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
Due: codegen-ui-react

fix: cli test build
  .github/workflows/check.yml
Due: none

Revert "fix: add overrideProps to Field component"
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
Due: codegen-ui-react

fix: add getOverrideProps to StorageManager (#1020)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
Due: codegen-ui-react

chore(release): v2.14.2
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.14.2 (#1022)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: return theme declaration file from render func
  packages/codegen-ui-react/lib/__tests__/__snapshots__/react-theme-studio-template-renderer.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-theme-studio-template-renderer.test.ts
  packages/codegen-ui-react/lib/react-theme-studio-template-renderer.ts
Due: codegen-ui-react

fix: return theme declaration file from render func (#1023)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/react-theme-studio-template-renderer.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-theme-studio-template-renderer.test.ts
  packages/codegen-ui-react/lib/react-theme-studio-template-renderer.ts
Due: codegen-ui-react

fix: alias colliding imported model name in hasMany relationship (#1019)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui/example-schemas/datastore/school-student-collision.json
Due: codegen-ui, codegen-ui-react

chore: update cli check
  .github/workflows/check.yml
  package.json
Due: none
