Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

fix: migrate useAuth hook for v6 (#1137)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/index.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useAuth.ts
Due: codegen-ui-react

fix: v6 broken integ tests
  .eslintrc.js
  packages/test-generator/integration-test-templates-amplify-js-v6/cypress/e2e/action-binding-spec.cy.ts
  packages/test-generator/integration-test-templates-amplify-js-v6/cypress/e2e/complex-spec.cy.ts
  packages/test-generator/integration-test-templates-amplify-js-v6/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
  packages/test-generator/integration-test-templates-amplify-js-v6/cypress/e2e/generated-components-spec.cy.ts
  packages/test-generator/integration-test-templates-amplify-js-v6/cypress/e2e/primitives-spec.cy.ts
  packages/test-generator/integration-test-templates-amplify-js-v6/cypress/e2e/two-way-binding-spec.cy.ts
  packages/test-generator/integration-test-templates-amplify-js-v6/cypress/utils/form.ts
  packages/test-generator/integration-test-templates-amplify-js-v6/src/App.tsx
  packages/test-generator/integration-test-templates-amplify-js-v6/src/ComponentTests.tsx
  packages/test-generator/integration-test-templates-amplify-js-v6/src/WorkflowTests.tsx
Due: none

fix: pin ts to 4.4.4 for integ tests
  packages/integ-test-template-v6/package-lock.json
  packages/integ-test-template-v6/package.json
Due: none

fix: add no-ci flag to integ v6
  scripts/integ-setupv6.sh
Due: none

fix: import Amplify
  packages/integ-test-template-v6/integration-test-templates/src/WorkflowTests.tsx
Due: none

fix: add mock exports
  packages/integ-test-template-v6/integration-test-templates/src/WorkflowTests.tsx
Due: none

fix: menu test
  packages/test-generator/integration-test-templates-v6/cypress/e2e/primitives-spec.cy.ts
Due: none

fix: v5 integ tests remove view and tabs primitive
  .eslintrc.js
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/primitives-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/views-spec.cy.ts
  packages/test-generator/integration-test-templates/src/App.tsx
  packages/test-generator/integration-test-templates/src/PrimitivesTests.tsx
  packages/test-generator/integration-test-templates/src/ViewTests.tsx
Due: none

fix: add amplify js v6 beta canary
  .github/workflows/canaries.yml
Due: none

fix: v6 cli release canary
  .github/workflows/canaries.yml
Due: none

fix: add amplify js v6 beta canary (#1139)
  .github/workflows/canaries.yml
Due: none

fix: v6 cli release canary (#1140)
  .github/workflows/canaries.yml
Due: none

fix: remove beta canaries
  .github/workflows/canaries.yml
Due: none

fix: remove beta canaries (#1141)
  .github/workflows/canaries.yml
Due: none

fix: check if import name is a primitive and needs aliasing
  packages/codegen-ui-react/lib/__tests__/__utils__/amplify-renderer-generator.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui/example-schemas/datastore/games.json
  packages/codegen-ui/example-schemas/forms/games.json
Due: codegen-ui, codegen-ui-react

fix: check if import name is a primitive and needs aliasing (#1142)
  packages/codegen-ui-react/lib/__tests__/__utils__/amplify-renderer-generator.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui/example-schemas/datastore/games.json
  packages/codegen-ui/example-schemas/forms/games.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.20.0
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.20.0 (#1143)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

Update config.yml
  .circleci/config.yml
Due: none

feat: pass form save result to onSuccess handler
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-forms/__snapshots__/form-renderer-helper.test.ts.snap
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/type-helper.ts
Due: codegen-ui-react

fix: use non-aliased name when importing custom components
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/customComponent.ts
  packages/codegen-ui/example-schemas/components/footerWithCustomButton.json
Due: codegen-ui, codegen-ui-react

ci: Use GITHUB_OUTPUT envvar instead of set-output command
  .github/workflows/release.yml
Due: none

update tough-cookie dependency
  package-lock.json
  package.json
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: none

chore(deps): bump tough-cookie, axios, and cypress
  package-lock.json
  package.json
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: none

chore: update lock files
  package-lock.json
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui/package-lock.json
  packages/test-generator/package-lock.json
Due: codegen-ui, codegen-ui-react

chore: update lock file
  package-lock.json
Due: none

chore: move golden files out of workspaces
  codegen-ui-golden-files/CHANGELOG.md
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-belongs-to/MemberCreateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-belongs-to/MemberCreateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-belongs-to/schema.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-has-many-relationship/SchoolCreateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-has-many-relationship/SchoolCreateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-has-many-relationship/schema.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-has-one-relationship/BookCreateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-has-one-relationship/BookCreateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-has-one-relationship/schema.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-many-to-many-relationship/TagCreateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-many-to-many-relationship/TagCreateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-many-to-many-relationship/schema.ts
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-many-relationship/SchoolUpdateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-many-relationship/SchoolUpdateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-many-relationship/schema.ts
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-one-relationship/BookUpdateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-one-relationship/BookUpdateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-one-relationship/schema.ts
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-many-to-many-relationship/TagUpdateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-many-to-many-relationship/TagUpdateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-many-to-many-relationship/schema.ts
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
Due: none

fix: pin cypress to 13.0.0 which supports node 16
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: none

chore: move golden files out of workspaces (#1149)
  codegen-ui-golden-files/CHANGELOG.md
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-belongs-to/MemberCreateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-belongs-to/MemberCreateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-belongs-to/schema.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-has-many-relationship/SchoolCreateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-has-many-relationship/SchoolCreateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-has-many-relationship/schema.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-has-one-relationship/BookCreateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-has-one-relationship/BookCreateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-has-one-relationship/schema.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-many-to-many-relationship/TagCreateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-many-to-many-relationship/TagCreateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-many-to-many-relationship/schema.ts
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-many-relationship/SchoolUpdateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-many-relationship/SchoolUpdateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-many-relationship/schema.ts
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-one-relationship/BookUpdateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-one-relationship/BookUpdateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-one-relationship/schema.ts
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-many-to-many-relationship/TagUpdateForm.d.ts
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-many-to-many-relationship/TagUpdateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-many-to-many-relationship/schema.ts
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
Due: none

Dependabot upgrades (#1148)
  package-lock.json
  package.json
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: none

fix: fix code scanning alerts
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-belongs-to/MemberCreateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-many-relationship/SchoolUpdateForm.jsx
  commitlint.config.js
Due: none

fix: fix code scanning alerts (#1155)
  codegen-ui-golden-files/lib/react/forms/datastore-create-form-with-belongs-to/MemberCreateForm.jsx
  codegen-ui-golden-files/lib/react/forms/datastore-update-form-with-has-many-relationship/SchoolUpdateForm.jsx
  commitlint.config.js
Due: none

Path conditions:
  codegen-ui: any of: packages/codegen-ui/
  codegen-ui-react: any of: packages/codegen-ui-react/
