Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

why
  .github/workflows/check.yml
Due: none

why2
  .github/workflows/check.yml
Due: none

why3
  .github/workflows/check.yml
Due: none

chore: update tests
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFieldsScalar-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCompositeToy-spec.cy.ts
Due: none

chore: test downgrade yarn to 1.18.0 for check action
  .github/workflows/check.yml
Due: none

chore: add scalar form and tests to DSAllSupportedFormFields
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFieldsScalar-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSAllSupportedFormFields.tsx
  packages/test-generator/integration-test-templates/src/FormTests/DSAllSupportedFormFieldsScalar.tsx
  packages/test-generator/integration-test-templates/src/FormTests/index.tsx
Due: none

Revert "Merge branch 'main' into improve-pill-labels"
  packages/codegen-ui/lib/__tests__/generate-form-definition/helpers/model-fields-configs.test.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/model-fields-configs.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCar-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSDealership-spec.cy.ts
Due: codegen-ui

chore: remove comment
  packages/test-generator/integration-test-templates/src/FormTests/DSAllSupportedFormFields.tsx
Due: none

chore: undo changelog formatting changes
  CHANGELOG.md
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui/CHANGELOG.md
  packages/test-generator/CHANGELOG.md
Due: codegen-ui, codegen-ui-react

small changes
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCar-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSDealership-spec.cy.ts
Due: none

chore: downgrade yarn to 1.18.0 for check action (#963)
  .github/workflows/check.yml
Due: none

chore: add eslint comment
  packages/test-generator/integration-test-templates/src/FormTests/DSAllSupportedFormFields.tsx
Due: none

feat: generate form definition with file uploader config
  packages/codegen-ui/lib/__tests__/generate-form-definition/generate-form-definition.test.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/defaults.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/field-type-map.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/form-field.ts
  packages/codegen-ui/lib/types/form/form-definition-element.ts
  packages/codegen-ui/lib/types/form/index.ts
  packages/codegen-ui/lib/types/form/input-config.ts
Due: codegen-ui

fix: removing console.log & unrelated diff
  packages/codegen-ui/lib/generate-form-definition/helpers/form-field.ts
Due: codegen-ui

fix: removing diff
  packages/codegen-ui/lib/generate-form-definition/helpers/form-field.ts
Due: codegen-ui

fix: improve pill labels for scalar relationships (#952)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-checkers.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/value-props.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui/lib/__tests__/generate-form-definition/helpers/model-fields-configs.test.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/model-fields-configs.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCompositeToy-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/generate-spec.cy.ts
  packages/test-generator/integration-test-templates/src/FormTests/DSAllSupportedFormFields.tsx
  packages/test-generator/lib/forms/datastore-form-create-all-supported-form-fields-scalar.json
  packages/test-generator/lib/forms/index.ts
Due: codegen-ui, codegen-ui-react

chore: upgrade amplify ui
  packages/codegen-ui-react/lib/amplify-ui-renderers/amplify-form-renderer.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/amplify-renderer.ts
  packages/codegen-ui-react/package.json
  packages/test-generator/package.json
Due: codegen-ui-react

chore: bump ui-react to ^4.3.9 for FileUploader
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
Due: codegen-ui-react

chore: bump required dependency for ui-react to ^4.4.2
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
Due: codegen-ui-react

chore: rebase with main
  packages/codegen-ui-react/package-lock.json
  packages/test-generator/package-lock.json
Due: codegen-ui-react

fix: renamed to StorageField & updated unit test
  packages/codegen-ui/lib/__tests__/generate-form-definition/generate-form-definition.test.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/defaults.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/field-type-map.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/form-field.ts
  packages/codegen-ui/lib/types/form/form-definition-element.ts
  packages/codegen-ui/lib/types/form/index.ts
Due: codegen-ui

chore: upgrade amplify ui (#955)
  packages/codegen-ui-react/lib/amplify-ui-renderers/amplify-form-renderer.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/amplify-renderer.ts
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui-react

chore(release): v2.11.1
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

feat: generate form definition with file uploader config (#972)
  packages/codegen-ui/lib/__tests__/generate-form-definition/generate-form-definition.test.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/defaults.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/field-type-map.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/form-field.ts
  packages/codegen-ui/lib/types/form/form-definition-element.ts
  packages/codegen-ui/lib/types/form/index.ts
  packages/codegen-ui/lib/types/form/input-config.ts
Due: codegen-ui

chore: upgrade lerna to ^5.6.2
  package-lock.json
  package.json
Due: none

chore: bump up commitlint
  package-lock.json
Due: none

chore: bump lerna to ^6.4.1
  package-lock.json
  package.json
Due: none

chore: bump commitlint
  package-lock.json
  package.json
Due: none

chore: upgrade lerna to 6.4.1 (#973)
  package-lock.json
  package.json
Due: none

fix: add default value on nested inputs to avoid console errors
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/value-props.ts
Due: codegen-ui-react

chore: set yarn network concurrency to 1
  .github/workflows/check.yml
Due: none

fix: add default value on nested inputs to avoid console errors (#974)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/value-props.ts
Due: codegen-ui-react

feat: generate Storagefield for form builder
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/amplify-ui-renderers/__snapshots__/primitives.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/amplify-form-renderer.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-targets.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-checkers.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/helpers/index.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/primitive.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
  packages/codegen-ui-react/package.json
  packages/codegen-ui/example-schemas/datastore/product.json
  packages/codegen-ui/example-schemas/forms/product-datastore-create.json
  packages/codegen-ui/example-schemas/forms/product-datastore-update.json
Due: codegen-ui, codegen-ui-react

chore: bump ui-react and add ui-storage dep warning
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui-react

fix: adding ui-react-storage
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui-react

chore: bump ui-react and add ui-storage dep warning (#977)
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui-react

feat: support non-array field for storagefield
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-targets.ts
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
  packages/codegen-ui/example-schemas/datastore/product-non-array.json
  packages/codegen-ui/example-schemas/forms/product-datastore-update-non-array.json
Due: codegen-ui, codegen-ui-react

Path conditions:
  codegen-ui: any of: packages/codegen-ui/
  codegen-ui-react: any of: packages/codegen-ui-react/
