Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

codecov.yaml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,files,footer'
  behavior: default
  require_changes: no

flags:
  codegen-ui:
    paths:
      - packages/codegen-ui/
  codegen-ui-react:
    paths:
      - packages/codegen-ui-react/

fix: replace scripting pattern blacklist with allowlist validation (CVE-2025-4318)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/__tests__/workflow/events.test.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
Due: codegen-ui-react

fix: restrict event bindings to simple identifiers only
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/__tests__/workflow/events.test.ts
  packages/codegen-ui-react/lib/workflow/events.ts
Due: codegen-ui-react

style: run prettier on changed files
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/package-lock.json
  packages/test-generator/package-lock.json
Due: codegen-ui-react

style: fix prefer-destructuring eslint error
  packages/codegen-ui-react/lib/workflow/events.ts
Due: codegen-ui-react

style: add eslint-disable for intentional security test strings
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
Due: codegen-ui-react

fix: replace scripting pattern blacklist with allowlist (#1198)
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/__tests__/workflow/events.test.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/workflow/events.ts
  packages/codegen-ui-react/package-lock.json
  packages/test-generator/package-lock.json
Due: codegen-ui-react

chore(release): v2.20.5
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.20.5 (#1199)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

docs: add Gen 1 maintenance mode / EOL notice to README
  README.md
Due: none

docs: add Gen 1 maintenance mode / EOL notice to README (#1200)
  README.md
Due: none

fix(codegen-ui-react): emit non-identifier theme keys as string literals
  packages/codegen-ui-react/lib/__tests__/react-theme-studio-template-renderer.test.ts
  packages/codegen-ui-react/lib/react-theme-studio-template-renderer.ts
Due: codegen-ui-react

refactor(codegen-ui-react): share identifier regex and harden theme-key tests
  packages/codegen-ui-react/lib/__tests__/react-theme-studio-template-renderer.test.ts
  packages/codegen-ui-react/lib/react-theme-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/identifiers.ts
  packages/codegen-ui-react/lib/workflow/events.ts
Due: codegen-ui-react

fix(codegen-ui-react): emit non-identifier theme keys as string literals (#1202)
  packages/codegen-ui-react/lib/__tests__/react-theme-studio-template-renderer.test.ts
  packages/codegen-ui-react/lib/react-theme-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/identifiers.ts
  packages/codegen-ui-react/lib/workflow/events.ts
Due: codegen-ui-react

chore(release): v2.20.6
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.20.6 (#1203)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix(codegen-ui-react): validate schema-supplied strings before emitting identifiers
  packages/codegen-ui-react/lib/__tests__/identifier-injection.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/collection.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/react-expander-renderer.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer-helper.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-table-renderer-helper.ts
  packages/codegen-ui-react/lib/react-table-renderer.ts
  packages/codegen-ui-react/lib/react-theme-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/identifiers.ts
  packages/codegen-ui-react/lib/views/react-view-renderer.ts
  packages/codegen-ui-react/lib/workflow/action.ts
  packages/codegen-ui-react/lib/workflow/events.ts
  packages/codegen-ui-react/lib/workflow/mutation.ts
Due: codegen-ui-react

fix(codegen-ui-react): validate schema-supplied strings before emitting identifiers (#1204)
  packages/codegen-ui-react/lib/__tests__/identifier-injection.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/collection.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/react-expander-renderer.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer-helper.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-table-renderer-helper.ts
  packages/codegen-ui-react/lib/react-table-renderer.ts
  packages/codegen-ui-react/lib/react-theme-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/identifiers.ts
  packages/codegen-ui-react/lib/views/react-view-renderer.ts
  packages/codegen-ui-react/lib/workflow/action.ts
  packages/codegen-ui-react/lib/workflow/events.ts
  packages/codegen-ui-react/lib/workflow/mutation.ts
Due: codegen-ui-react

chore(release): v2.20.7
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.20.7 (#1207)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react
