Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

codecov.yaml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,files,footer'
  behavior: default
  require_changes: no

flags:
  codegen-ui:
    paths:
      - packages/codegen-ui/
  codegen-ui-react:
    paths:
      - packages/codegen-ui-react/

fix: join table related model name using incorrect casing in reduce callback (#1124)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

chore(release): v2.19.1
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.19.1 (#1125)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

test: add tests for use client directive
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/package-lock.json
  packages/test-generator/package-lock.json
Due: codegen-ui-react

fix: add use client directive option to form renderer (#1112)
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/react-render-config.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer-helper.ts
  packages/codegen-ui-react/package-lock.json
  packages/test-generator/package-lock.json
Due: codegen-ui-react

fix: change utils file to js
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
Due: codegen-ui-react

fix: change utils file to js (#1126)
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
Due: codegen-ui-react

fix: add new imports for aws-amplify
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/utils/render-util-functions.test.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useAuthSignoutAction.ts
Due: codegen-ui-react

fix: add new imports for aws-amplify (#1127)
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/utils/render-util-functions.test.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useAuthSignoutAction.ts
Due: codegen-ui-react

chore(release): v2.19.2
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.19.2 (#1129)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: undefined reference errors in ToLinkMap callback
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
Due: codegen-ui-react

fix: undefined reference errors in ToLinkMap callback (#1130)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
Due: codegen-ui-react

fix: add v6 datastore import
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
Due: codegen-ui-react

fix: add v6 datastore import (#1131)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
Due: codegen-ui-react

chore(release): v2.19.3
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.19.3 (#1132)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: undefined reference errors in ToLinkMap callback (#1130) (#1133)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
Due: codegen-ui-react

chore(release): v2.19.4
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.19.4 (#1134)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

feat: move amplify js v6 to latest
  packages/codegen-ui-react/lib/helpers/amplify-js-versioning.ts
Due: codegen-ui-react

feat: add v6 integ tests and update v5 canary
  .github/workflows/canaries.yml
  .github/workflows/check.yml
  packages/test-generator/e2e-test-templates-amplify-js-v6/.eslintrc.js
  packages/test-generator/e2e-test-templates-amplify-js-v6/cypress.config.js
  packages/test-generator/e2e-test-templates-amplify-js-v6/cypress/.eslintrc.js
  packages/test-generator/e2e-test-templates-amplify-js-v6/cypress/e2e/e2e-tests.cy.js
  packages/test-generator/e2e-test-templates-amplify-js-v6/src/App.js
Due: none

fix: use corrent version syntax
  .github/workflows/check.yml
Due: none

fix: signIn v6 api e2e test template
  packages/test-generator/e2e-test-templates-amplify-js-v6/src/App.js
Due: none

fix: use ThemeProvider for v6
  packages/test-generator/e2e-test-templates-amplify-js-v6/src/App.js
Due: none

chore: make old integ test use v5
  scripts/integ-setup.sh
Due: none

fix: pass in dependencies to integ test generator
  packages/test-generator/lib/generators/GenerateTestApp.ts
  scripts/integ-templates.sh
Due: none

fix: need v5 dependencies in package lock to install for integ tests
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
  scripts/integ-setup.bat
  scripts/integ-setup.sh
Due: none

fix: put the env var in the correct position
  scripts/integ-templates.sh
Due: none

fix: downgrade /datastore to ^4.0.0
  packages/test-generator/package.json
  scripts/integ-setup.sh
Due: none

fix: downgrade /datastore to ^4.0.0 package lock
  packages/test-generator/package-lock.json
Due: none

fix: use datastore v4 for windows integ setup
  scripts/integ-setup.bat
Due: none

feat: move amplify js v6 to latest (#1135)
  .github/workflows/canaries.yml
  .github/workflows/check.yml
  packages/codegen-ui-react/lib/helpers/amplify-js-versioning.ts
  packages/test-generator/e2e-test-templates-amplify-js-v6/.eslintrc.js
  packages/test-generator/e2e-test-templates-amplify-js-v6/cypress.config.js
  packages/test-generator/e2e-test-templates-amplify-js-v6/cypress/.eslintrc.js
  packages/test-generator/e2e-test-templates-amplify-js-v6/cypress/e2e/e2e-tests.cy.js
  packages/test-generator/e2e-test-templates-amplify-js-v6/src/App.js
  packages/test-generator/lib/generators/GenerateTestApp.ts
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
  scripts/integ-setup.bat
  scripts/integ-setup.sh
  scripts/integ-templates.sh
Due: codegen-ui-react

chore: init v6 canaries
  .github/workflows/canaries.yml
Due: none

fix: migrate useAuth hook for v6
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/index.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useAuth.ts
Due: codegen-ui-react

fix: remove console log
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useAuth.ts
Due: codegen-ui-react

fix: migrate useAuth hook for v6 (#1137)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/index.ts
  packages/codegen-ui-react/lib/utils-file-functions/hooks/useAuth.ts
Due: codegen-ui-react
