Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

fix: add optional chaining
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

fix: coalesce missing record to empty list
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

fix: coalesce missing record to empty array
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

fix: remove unneeded checks
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

fix: add optional chaining (#1156)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

fix: clear form field errors on cancel
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/utils/forms/array-field-component.ts
Due: codegen-ui-react

chore(release): v2.20.1
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.20.1 (#1158)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(deps-dev): update all packages
  .github/workflows/check.yml
  package-lock.json
Due: none

chore: bump cypress versions to fix CI failures
  scripts/integ-setup.bat
  scripts/integ-setup.sh
  scripts/integ-setupv6.bat
  scripts/integ-setupv6.sh
Due: none

chore: apply updates from npm audit
  package-lock.json
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui/package-lock.json
  packages/test-generator/package-lock.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.20.2
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v3.0.0
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

feat: prioritize override values in initialValues
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
Due: codegen-ui-react

Update package.json
  package.json
Due: none

fix(collection): add sanitization to binding expression
  packages/codegen-ui-react/lib/__tests__/__snapshots__/react-component-render-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
Due: codegen-ui-react

fix(codegen-ui-react): upgrade upload-artifact to v4
  .github/workflows/check.yml
Due: none

fix: upgrade upload-artifact to v4
  .github/workflows/check.yml
Due: none

fix: update node version
  .github/workflows/canaries.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  packages/test-generator/integration-test-templates-v6/cypress/scripts/generateCoverageSummary.mjs
  packages/test-generator/integration-test-templates/cypress/scripts/generateCoverageSummary.mjs
Due: none

fix: upgrade upload-artifact to v4 (#1173)
  .github/workflows/canaries.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  packages/test-generator/integration-test-templates-v6/cypress/scripts/generateCoverageSummary.mjs
  packages/test-generator/integration-test-templates/cypress/scripts/generateCoverageSummary.mjs
Due: none

fix(codegen-ui-react): update function name in comment
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
Due: codegen-ui-react

fix(codegen-ui-react): add sanitization to binding expression
  packages/codegen-ui-react/lib/__tests__/__snapshots__/react-component-render-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
Due: codegen-ui-react

fix(codegen-ui-react): add sanitization to binding expression
  packages/codegen-ui-react/lib/__tests__/__snapshots__/react-component-render-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/utils/constants.ts
Due: codegen-ui-react

fix: address comments
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/utils/constants.ts
Due: codegen-ui-react

fix: address comments
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
Due: codegen-ui-react

fix(codegen-ui-react): add sanitization to binding expression (#1174)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/react-component-render-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/utils/constants.ts
Due: codegen-ui-react

chore(release): v2.20.3
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.20.3 (#1175)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore: upgrade node in circleci
  .circleci/config.yml
Due: none

chore: set resolution for form-data
  package-lock.json
  package.json
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore: set resolution for form-data (#1186)
  package-lock.json
  package.json
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: sanitize event bindingEvent and binding field values
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/__tests__/workflow/__snapshots__/events.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/workflow/events.test.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/workflow/events.ts
  packages/codegen-ui/example-schemas/workflow/maliciousBindingEvent.json
Due: codegen-ui, codegen-ui-react

ci: pin node version to 22 in workflows
  .github/workflows/canaries.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
Due: none

ci: pin @cypress/code-coverage to ^3 for cypress 13 compat
  scripts/integ-setup.sh
  scripts/integ-setupv6.sh
Due: none

fix: sanitize event bindingEvent and binding field values (#1196)
  .github/workflows/canaries.yml
  .github/workflows/check.yml
  .github/workflows/release.yml
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/__tests__/workflow/__snapshots__/events.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/workflow/events.test.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/workflow/events.ts
  packages/codegen-ui/example-schemas/workflow/maliciousBindingEvent.json
  scripts/integ-setup.sh
  scripts/integ-setupv6.sh
Due: codegen-ui, codegen-ui-react

chore(release): v2.20.4
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.20.4 (#1197)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

Path conditions:
  codegen-ui: any of: packages/codegen-ui/
  codegen-ui-react: any of: packages/codegen-ui-react/
