Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

codecov.yaml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,files,footer'
  behavior: default
  require_changes: no

flags:
  codegen-ui:
    paths:
      - packages/codegen-ui/
  codegen-ui-react:
    paths:
      - packages/codegen-ui-react/

fix: updating snapshot
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
Due: codegen-ui-react

fix: remove StorageField as primitive and update lock files
  package-lock.json
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-react/lib/__tests__/amplify-ui-renderers/__snapshots__/primitives.test.ts.snap
  packages/codegen-ui-react/lib/amplify-ui-renderers/amplify-form-renderer.ts
  packages/codegen-ui-react/lib/primitive.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui/package-lock.json
  packages/test-generator/package-lock.json
Due: codegen-ui, codegen-ui-react

fix: import utils from codegen-ui instead of subpath
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
Due: codegen-ui-react

feat: generate Storagefield for form builder (#976)
  package-lock.json
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/amplify-form-renderer.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-targets.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-checkers.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/helpers/index.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/example-schemas/datastore/product-non-array.json
  packages/codegen-ui/example-schemas/datastore/product.json
  packages/codegen-ui/example-schemas/forms/product-datastore-create.json
  packages/codegen-ui/example-schemas/forms/product-datastore-update-non-array.json
  packages/codegen-ui/example-schemas/forms/product-datastore-update.json
  packages/codegen-ui/package-lock.json
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.12.0
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: changing StorageManager prop name to onUploadSuccess
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
Due: codegen-ui-react

fix: bumping semvar for ui-react-storage
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
Due: codegen-ui-react

Updating StorageManager codegen prop onUploadSuccess (#979)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
Due: codegen-ui-react

fix: address yarn failures during check
  .github/workflows/check.yml
Due: none

chore(release): v2.12.1
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

fix: change key name and remove ref
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-targets.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/utils/constants.ts
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
Due: codegen-ui-react

fix: change handlers and props for StorageField
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
Due: codegen-ui-react

chore: restore downgrade to 1.18.0
  .github/workflows/check.yml
Due: none

chore: remove cache-folder flag
  .github/workflows/check.yml
Due: none

fix: remove downgrade
  .github/workflows/check.yml
Due: none

fix: restore downgrade but move it to top
  .github/workflows/check.yml
Due: none

chore: bump ui-react and ui-react-storage
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui-react

chore: bump ui-react and ui-react-storage (#985)
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui-react

fix: address icon regression
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
  packages/codegen-ui/lib/utils/form-to-component/map-form-definition-to-component.ts
Due: codegen-ui, codegen-ui-react

chore(release): v2.12.2
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.12.2 (#987)
  CHANGELOG.md
  lerna.json
  package-lock.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

test: add coverage for icon regression fix
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui/example-schemas/primitives/IconPrimitiveWithLowerCasedType.json
Due: codegen-ui, codegen-ui-react

introduced import from datastore
  packages/codegen-ui/lib/generic-from-datastore.ts
Due: codegen-ui

chore: improve runtime safety of validation builder
  packages/codegen-ui-react/lib/__tests__/react-forms/__snapshots__/form-renderer-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-forms/form-renderer-helper.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/validation.ts
Due: codegen-ui-react

chore: improve runtime safety of validation builder
  packages/codegen-ui-react/lib/__tests__/react-forms/__snapshots__/form-renderer-helper.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/react-forms/form-renderer-helper.test.ts
Due: codegen-ui-react

chore: improve safety of coercion
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-checkers.ts
Due: codegen-ui-react
