Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

codecov.yaml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  status:
    project:
      default:
        target: auto # auto compares coverage to the previous base commit

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,files,footer'
  behavior: default
  require_changes: no

flags:
  codegen-ui:
    paths:
      - packages/codegen-ui/
  codegen-ui-react:
    paths:
      - packages/codegen-ui-react/

chore: improve safety of coercion (#991)
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-checkers.ts
Due: codegen-ui-react

chore: update test descriptions
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalDog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalOwner-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalToy-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomDog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomNestedJSON-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCPKTeacher-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCar-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCompositeDog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCompositeToy-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSDealership-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/ModelWithVariableCollisions-spec.cy.ts
  packages/test-generator/lib/models/schema.graphql
Due: none

fix: createDefaultMapFromNodeModules imports
  packages/codegen-ui-react/lib/react-studio-template-renderer-helper.ts
Due: codegen-ui-react

chore: update test descriptions (#992)
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalDog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalOwner-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/BidirectionalToy-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomDog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/CustomNestedJSON-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSAllSupportedFormFields-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCPKTeacher-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCar-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCompositeDog-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSCompositeToy-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/DSDealership-spec.cy.ts
  packages/test-generator/integration-test-templates/cypress/e2e/form/ModelWithVariableCollisions-spec.cy.ts
  packages/test-generator/lib/models/schema.graphql
Due: none

fix: update form with storage field should render with existing files
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
Due: codegen-ui-react

chore: adding descriptiveText in StorageField test
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui/example-schemas/forms/product-datastore-update-non-array.json
Due: codegen-ui, codegen-ui-react

fix: autocomplete display value is undefined on cancel
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
Due: codegen-ui-react

feat: add processFile callback to rendered StorageManager for hashing filename
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/utils/constants.ts
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
Due: codegen-ui-react

fix: autocomplete display value is undefined on cancel (#994)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/render-array-field.ts
Due: codegen-ui-react

fix: update form with storage field should render with existing files (#993)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
  packages/codegen-ui/example-schemas/forms/product-datastore-update-non-array.json
Due: codegen-ui, codegen-ui-react

fix: set conditional messaging for ui-react-storage
  packages/codegen-ui-react/lib/__tests__/react-studio-dependency-provider.test.ts
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
  packages/codegen-ui/lib/required-dependency-provider.ts
Due: codegen-ui, codegen-ui-react

fix: set conditional messaging for ui-react-storage (#996)
  packages/codegen-ui-react/lib/__tests__/react-studio-dependency-provider.test.ts
  packages/codegen-ui-react/lib/react-required-dependency-provider.ts
  packages/codegen-ui/lib/required-dependency-provider.ts
Due: codegen-ui, codegen-ui-react

feat: make processFile a reusable util function
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/utils/render-util-functions.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
  packages/test-generator/lib/generators/TestGenerator.ts
Due: codegen-ui-react

fix: changing file encrytion to use constant
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
Due: codegen-ui-react

fix: add export to processFile callback
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/utils/render-util-functions.test.ts
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
Due: codegen-ui-react

feat: add processFile callback to rendered StorageManager for hashing filename (#995)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/utils/__snapshots__/render-util-functions.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/utils/render-util-functions.test.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/constants.ts
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
  packages/test-generator/lib/generators/TestGenerator.ts
Due: codegen-ui-react

chore(release): v2.13.0
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.13.0 (#1000)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

feat: exporting processFile to be used in studio
  packages/codegen-ui-react/lib/utils/storage-manager.ts
Due: codegen-ui-react

chore: upgrade node
  .circleci/config.yml
Due: none

fix: upgrade node and pin lerna version in circleci
  .circleci/config.yml
Due: none

fix: upgrade node and pin lerna version in circleci (#1002)
  .circleci/config.yml
Due: none

chore(release): v2.13.1
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore(release): v2.13.1 (#1003)
  CHANGELOG.md
  lerna.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

chore: increasing unit test timeout to 30m
  .circleci/config.yml
Due: none

fix(codegen-ui): fix multiple has one relationships
  packages/codegen-ui/lib/__tests__/__utils__/introspection-schemas/schema-with-2-has-one.json
  packages/codegen-ui/lib/__tests__/generate-form-definition/helpers/model-fields-configs.test.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/model-fields-configs.ts
Due: codegen-ui

chore(deps): run in band
  packages/codegen-ui-react/package.json
  packages/codegen-ui/package.json
Due: codegen-ui, codegen-ui-react

fix(codegen-ui): fix multiple has one relationships (#1005)
  packages/codegen-ui-react/package.json
  packages/codegen-ui/lib/__tests__/__utils__/introspection-schemas/schema-with-2-has-one.json
  packages/codegen-ui/lib/__tests__/generate-form-definition/helpers/model-fields-configs.test.ts
  packages/codegen-ui/lib/generate-form-definition/helpers/model-fields-configs.ts
  packages/codegen-ui/package.json
Due: codegen-ui, codegen-ui-react

Revert "chore: increasing unit test timeout to 30m"
  .circleci/config.yml
Due: none

feat: exporting processFile to be used in studio (#1001)
  packages/codegen-ui-react/lib/utils/storage-manager.ts
Due: codegen-ui-react

chore: export processFile from lib/index
  packages/codegen-ui-react/lib/index.ts
Due: codegen-ui-react

chore: export processFile from lib/index (#1007)
  packages/codegen-ui-react/lib/index.ts
Due: codegen-ui-react

feat: add graphql support for components
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__utils__/amplify-renderer-generator.ts
  packages/codegen-ui-react/lib/__tests__/imports/__snapshots__/import-collection.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/imports/import-collection.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/type-helper.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/react-index-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-render-config.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-theme-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/views/react-view-renderer.ts
  packages/codegen-ui-react/lib/workflow/action.ts
  packages/codegen-ui-react/lib/workflow/mutation.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui/package-lock.json
  packages/test-generator/lib/generators/TestGenerator.ts
  packages/test-generator/package-lock.json
Due: codegen-ui, codegen-ui-react

feat: add graphql support for create form
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/amplify-form-renderer.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/index.ts
  packages/codegen-ui-react/lib/forms/index.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
Due: codegen-ui-react
