Repository aws-amplify/amplify-codegen-ui: changes, and which Codecov flags are due for each by the changed paths.
All: codegen-ui, codegen-ui-react

chore: update cli check
  .github/workflows/check.yml
  package.json
Due: none

Update from main (#1025)
  .github/workflows/check.yml
  CHANGELOG.md
  lerna.json
  package.json
  packages/codegen-ui-golden-files/CHANGELOG.md
  packages/codegen-ui-golden-files/package-lock.json
  packages/codegen-ui-golden-files/package.json
  packages/codegen-ui-react/CHANGELOG.md
  packages/codegen-ui-react/lib/__tests__/__snapshots__/react-theme-studio-template-renderer.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__utils__/mock-data-schemas.ts
  packages/codegen-ui-react/lib/__tests__/react-component-render-helper.test.ts
  packages/codegen-ui-react/lib/__tests__/react-theme-studio-template-renderer.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/type-helper.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-theme-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/forms/storage-field-component.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
  packages/codegen-ui/CHANGELOG.md
  packages/codegen-ui/example-schemas/collectionWithBindingItemsName.json
  packages/codegen-ui/example-schemas/datastore/school-student-collision.json
  packages/codegen-ui/package-lock.json
  packages/codegen-ui/package.json
  packages/test-generator/CHANGELOG.md
  packages/test-generator/package-lock.json
  packages/test-generator/package.json
Due: codegen-ui, codegen-ui-react

feat: update GraphqlRenderConfig to use separate props for each file path
  packages/codegen-ui-react/lib/__tests__/__utils__/amplify-renderer-generator.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/react-render-config.ts
Due: codegen-ui-react

chore: add specific cypress version to fix 12.15.0 bug
  scripts/integ-setup.bat
  scripts/integ-setup.sh
Due: none

chore: add specific cypress version to fix 12.15.0 bug (#1028)
  scripts/integ-setup.bat
  scripts/integ-setup.sh
Due: none

Update from main (#1029)
  scripts/integ-setup.bat
  scripts/integ-setup.sh
Due: none

feat: graphql support for collections
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/amplify-renderer.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/collection.ts
  packages/codegen-ui-react/lib/helpers/index.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui/lib/types/bindings.ts
Due: codegen-ui, codegen-ui-react

chore: refactor collection element to helper function and update addMappedImport
  packages/codegen-ui-react/lib/amplify-ui-renderers/collection.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/helpers/index.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/views/react-view-renderer.ts
Due: codegen-ui-react

feat: graphql support for collections (#1027)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/amplify-renderer.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/collection.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/helpers/index.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/views/react-view-renderer.ts
  packages/codegen-ui/lib/types/bindings.ts
Due: codegen-ui, codegen-ui-react

feat: adding graphql support for update forms with relationship
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui/example-schemas/datastore/relationships/has-many-comment.json
  packages/codegen-ui/example-schemas/datastore/relationships/many-to-many-class.json
  packages/codegen-ui/example-schemas/forms/relationships/update-class.json
  packages/codegen-ui/example-schemas/forms/relationships/update-comment.json
Due: codegen-ui, codegen-ui-react

fix: wrapping list graphql result for await
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

feat: adding graphql support for update forms with relationship (#1030)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui/example-schemas/datastore/relationships/has-many-comment.json
  packages/codegen-ui/example-schemas/datastore/relationships/many-to-many-class.json
  packages/codegen-ui/example-schemas/forms/relationships/update-class.json
  packages/codegen-ui/example-schemas/forms/relationships/update-comment.json
Due: codegen-ui, codegen-ui-react

feat: add graphql support for relationship forms with autocomplete field
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/all-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui/example-schemas/datastore/car.json
  packages/codegen-ui/example-schemas/datastore/relationships/has-many-autocomplete-post.json
  packages/codegen-ui/example-schemas/forms/relationships/update-post.json
  packages/codegen-ui/lib/utils/form-component-metadata.ts
Due: codegen-ui, codegen-ui-react

fix: removing .only on form tests
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
Due: codegen-ui-react

fix: updating snapshots
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/workflow/action.ts
Due: codegen-ui-react

fix: wrapping list graphql result for await (#1032)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

fix: resolving bad merge & renaming enum
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

wip autocomplete
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/all-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

feat: add graphql support for relationship forms with autocomplete field
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/all-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/event-handler-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/react-component-renderer.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui-react/lib/workflow/action.ts
  packages/codegen-ui/example-schemas/datastore/car.json
  packages/codegen-ui/example-schemas/datastore/relationships/has-many-autocomplete-post.json
  packages/codegen-ui/example-schemas/forms/relationships/update-post.json
  packages/codegen-ui/lib/utils/form-component-metadata.ts
Due: codegen-ui, codegen-ui-react

fix: autocomplete options prop using incorrect records
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

fix: autocomplete options prop using incorrect records (#1035)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/forms/form-renderer-helper/form-state.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/model-values.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

chore: add housekeeping items to PR template
  pull_request_template.md
Due: none

fix: use related model name instead of field in generating graphql queries
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

fix: updating invalid schema in integ test
  packages/test-generator/lib/models/schema.ts
Due: none

feat: exit early in integ test failure
  scripts/integ-templates.sh
Due: none

feat: add helpers to identify api dependencies
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui/example-schemas/bindings/data/componentWithDataStoreCreateActionBinding.json
  packages/codegen-ui/lib/__tests__/__utils__/load-schema.ts
  packages/codegen-ui/lib/__tests__/utils/data-binding-utils.test.ts
  packages/codegen-ui/lib/utils/data-binding-utils.ts
  packages/test-generator/lib/models/schema.ts
  scripts/integ-templates.sh
Due: codegen-ui, codegen-ui-react

fix: lowering nyc coverage threshold
  .nycrc
Due: none

feat: add graphql support for components
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__utils__/amplify-renderer-generator.ts
  packages/codegen-ui-react/lib/__tests__/imports/__snapshots__/import-collection.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/imports/import-collection.test.ts
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/type-helper.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/imports/import-collection.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/react-component-render-helper.ts
  packages/codegen-ui-react/lib/react-index-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-render-config.ts
  packages/codegen-ui-react/lib/react-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-theme-studio-template-renderer.ts
  packages/codegen-ui-react/lib/react-utils-studio-template-renderer.ts
  packages/codegen-ui-react/lib/views/react-view-renderer.ts
  packages/codegen-ui-react/lib/workflow/action.ts
  packages/codegen-ui-react/lib/workflow/mutation.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui/package-lock.json
  packages/test-generator/lib/generators/TestGenerator.ts
  packages/test-generator/package-lock.json
Due: codegen-ui, codegen-ui-react

feat: add graphql support for create form (#1008)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/amplify-form-renderer.ts
  packages/codegen-ui-react/lib/amplify-ui-renderers/form.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/index.ts
  packages/codegen-ui-react/lib/forms/index.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
Due: codegen-ui-react

feat: add graphql support for create form with relationships (#1010)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
Due: codegen-ui-react

Update GraphQL API import and refactor GraphQL call expressions (#1012)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/bidirectional-relationship.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
  packages/codegen-ui-react/lib/imports/import-mapping.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
  packages/codegen-ui-react/lib/workflow/action.ts
  packages/codegen-ui-react/package-lock.json
  packages/codegen-ui-react/package.json
Due: codegen-ui-react

Update from main (#1025)
  packages/codegen-ui-react/lib/forms/form-renderer-helper/relationship.ts
Due: codegen-ui-react

chore: add declaration snapshots (#1018)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
Due: codegen-ui-react

feat: add graphql support for update form (#1015)
  packages/codegen-ui-react/lib/__tests__/__snapshots__/studio-ui-codegen-react-forms.test.ts.snap
  packages/codegen-ui-react/lib/__tests__/studio-ui-codegen-react-forms.test.ts
  packages/codegen-ui-react/lib/forms/form-renderer-helper/cta-props.ts
  packages/codegen-ui-react/lib/forms/react-form-renderer.ts
  packages/codegen-ui-react/lib/utils/graphql.ts
Due: codegen-ui-react

Path conditions:
  codegen-ui: any of: packages/codegen-ui/
  codegen-ui-react: any of: packages/codegen-ui-react/
